.activitiesHeader li a {
  cursor: pointer;
  margin:5px 10px 20px 0;
}
.activitiesHeader ul {
  list-style-type: none;
  margin:0;
  padding:0;
}
.activitiesHeader ul li {
  float:left;
  display: inline-block;
}
.detailsPrompt{
  position:absolute;
  z-index:600;
  width:450px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color:white;
  padding:25px;
  border-radius:5px;
  box-shadow:0 0 20px 0 black;
}
