<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="">Velugu</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/home" style="border-radius:5px 5px 0 0">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/activities" style="border-radius:5px 5px 0 0">Activities</a></li>
        <li routerLinkActive="active"><a routerLink="/about-us" style="border-radius:5px 5px 0 0">AboutUs</a></li>
      </ul>
    </div>
  </div>
</nav>